<div class="startpage-content">
    <div class="course-filter">
        <label class="filter-label" for="filter">Filtrera:</label>
        <input class="filter-input" type="text" id="filter" [(ngModel)] = "filterValue" (input)="applyFilter()" placeholder="Sök kurser...">
        <img [src]="searchIcon" alt="Sök ikon" class="search-icon">
    </div>
    <table class="startpage-table">
        <thead>
            <tr>
                <th (click)="setSortBy('code')">
                    Kurskod 
                    <span class="sort-icon" 
                        [style.color]="sortBy === 'code' ? '#ff7ab9' : '#999'">
                        {{ sortBy === 'code' ? (sortDirection === 'asc' ? '▲' : '▼') : '▲▼' }}
                    </span>
                </th>
                <th (click)="setSortBy('coursename')">
                    Kursnamn 
                    <span class="sort-icon" 
                        [style.color]="sortBy === 'coursename' ? '#ff7ab9' : '#999'">
                        {{ sortBy === 'coursename' ? (sortDirection === 'asc' ? '▲' : '▼') : '▲▼' }}
                    </span>
                </th>
                <th (click)="setSortBy('progression')">
                    Progression 
                    <span class="sort-icon" 
                        [style.color]="sortBy === 'progression' ? '#ff7ab9' : '#999'">
                        {{ sortBy === 'progression' ? (sortDirection === 'asc' ? '▲' : '▼') : '▲▼' }}
                    </span>
                </th>
                <th>Syllabus</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let course of filteredCourses">
                <td>{{ course.code }}</td>
                <td>{{ course.coursename }}</td>
                <td>{{ course.progression }}</td>
                <td><a class="syllabus-link" [href]="course.syllabus" target="_blank">Länk</a></td>
            </tr>
            <tr>
                <td colspan="4"> 
                    @if (isLoading) {
                        <div class="loading-container">
                            <div class="spinner"></div>
                            <p>Laddar kurser...</p>
                        </div>
                    } @else if (filteredCourses.length === 0) {
                        <div class="error-message">
                            <p>Inga kurser matchar din sökning.</p>
                        </div>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
